<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- 数据库方言 -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- 加载二级缓存插件（可选） -->
        <!--<property name="hibernate.cache.region.factory_class">org.hibernate.cache.EhCacheRegionFactory</property>-->
        <!--<property name="hibernate.cache.use_query_cache">true</property>-->

        <!-- 配置自动生成DDL语句 -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- 在控制台打印出当前的sql语句 -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- 注册对象关系映射 -->
       <!-- <mapping class="com.ilidan.domain.Student"/>-->

    </session-factory>

</hibernate-configuration>